{{! 
Це код container файлу для summary сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
}}

<div>
  <section>
    {{#with person}}
      <h1>{{name}}</h1>
      <p><strong>Age:</strong>{{age}}</p>
      <p><strong>Gender:</strong>{{gender}}</p>
      <p><strong>Address:</strong>{{address.street}}
        {{address.sity}}
        {{adress.state}}
        {{address.zip}}
        {{address.country}}</p>
<hr>
          <section>
      <h2>{{> title data="Education"}}</h2>
        {{#each education}}
          <p><strong>Degree:</strong>{{degree}}</p>
          <p><strong>Major:</strong>{{major}}</p>
          <p><strong>GraduationYear:</strong>{{graduationYear}}</p>   
         {{/each}}
          </section>
      <hr>
      <section>
        <h2>{{> title data="Work Experience"}}</h2>
       
          {{#each workExperience}}
          <p><strong>Сompany:</strong>{{company}}</p>
          <p><strong>Title:</strong>{{title}}</p>
          <p><strong>Responsibilities:</strong>{{responsibilities}}</p>
          <p><strong>Year founded:</strong>{{year_founded}}</p>
          <p><strong>Industry: </strong>{{industry}}</p>
          <p>Date:{{startDate}} - {{endDate}}</p>
          <div>
            <p><h3>Employees</h3></p>
            {{#each employees}}
              <p><b>Name:</b>{{name}}</p>
               <p><b>Position:</b> {{position}} </p>
               <p><b>Department:</b>{{department}}</p>
              {{#each projects}}
          </div>
            <section>
              {{> title data="Projects"}}
              
                <p><b>Name:</b>{{name}} </p>
                <p><b>Description:</b>{{description}}</p>
                <p><b>Status:</b>{{status}}</p>
                <br>
                </section>
              <section>
                {{#each teams}}
                <ul>
                  <h3>{{team_name}}</h3>
                  <li> {{#with team_leader}}
                    <p><b>Team leader:</b> {{name}} {{title}} {{> link text=email href=email.href blank=true notLine=true }}</p>
                    {{/with}}</li>
                    <li>
                      {{#each team_members}}
                        <p><b>Team:</b> {{name}} {{title}} {{> link text=email href=email.href blank=true notLine=true }}</p>
                    </li>
                      <p> <b>Skills:</b> {{skills}}</p>
                      <div>
                         <ul>
                           {{#each projects}}
                            <li><b>Projects:</b> {{name}}</li>
                            <li><b>Description:</b> {{description}}</li>
                             <li><b>Technologies:</b>{{technologies}}</li>
                             </ul>
                             <div>
                              {{> title data="Team members:"}}
                               <ol>
                                 {{#each team_members}}
                                  <li>{{name}} {{title}}</li>
                                  {{/each}}
                               </ol>
                             </div>
                          {{/each}}
                      </div>
                      {{/each}}
                     {{/each}}
                   </section>
                {{/each}}
             {{/each}}
          {{/each}}
          </section>
    {{/with}}
  </section>
  <hr>
  <br>  
</div>

{{!-- 
    Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
    Адже наш layout/default.hbs має вже структуру HTML
--}}