{{! 
Це код container файлу для summary сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
}}

<div>
  <section>
    {{#with person}}
      <h1>{{name}}</h1>
      <p>{{age}}</p>
      <p>{{gender}}</p>
      <p>{{address.street}}
        {{address.sity}}
        {{adress.state}}
        {{address.zip}}
        {{address.country}}</p>
<hr>
  <br>
        <section>
      <h2>{{> title data="Education"}}</h2>
        <ul>{{#each education}}
          <li>{{degree}}</li>
          <li>{{major}}</li>
          <li>{{graduationYear}}</li>   
         {{/each}}
            </ul>
      </section>
      <hr>
      <section>
        <h2>{{> title data="Experience"}}</h2>
        <ul>
          {{#each workExperience}}
          <li>{{company}}</li>
          <li>{{title}}</li>
          <li>{{responsibilities}}</li>
          <li>{{year_founded}}</li>
          <li>{{industry}}</li>
          <li>{{#each employees}}
            {{name}} {{position}} {{department}}
            {{#each projects}}
        <hr>
            <section>
              {{> title data="Projects"}}
              <ul>
                <li>{{name}} </li>
                <li>{{description}}</li>
                <li>{{status}}</li>
                <br>
                <hr>
            </section>
              <section>
                {{#each teams}}
                <ul>
                  <h3>{{team_name}}</h3>
                  <li> {{#with team_leader}}
                    <p>Team leader: {{name}} {{title}} {{> link text=email href=email.href blank=true notLine=true }}</p>
                    {{/with}}</li>
                    <li>
                      {{#each team_members}}
                        <p>Team: {{name}} {{title}} {{> link text=email href=email.href blank=true notLine=true }}</p>
                    </li>
                      <p> <b>Skills:</b> {{skills}}</p>
                      <div>
                         <ul>
                           {{#each projects}}
                            <li>Projects:{{name}}</li>
                            <li>{{description}}</li>
                             <li>Technologies:{{technologies}}</li>
                             </ul>
                             <div>
                              {{> title data="Team members:"}}
                               <ol>
                                 {{#each team_members}}
                                  <li>{{name}} {{title}}</li>
                                  {{/each}}
                               </ol>
                             </div>
                         
                          {{/each}}
                      </div>
                      {{/each}}
                    </p>
                </ul>
                {{/each}}
                            </ul>
              </section>
            {{/each}}
            {{/each}}
          </li>
          {{/each}}
        </ul>
      </section>
    {{/with}}
  </section>
  <hr>
  <br>
    
  
</div>

{{!-- 
    Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
    Адже наш layout/default.hbs має вже структуру HTML
--}}