{{! 
Це код container файлу для summary сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
}}

<section>
  <div class='card'>
    <div class='card-body'>
      {{#with heading}}
        {{#with main}}
          <h1 class="text">{{title}}</h1>
          <p class='text-muted'>{{text}}</p>
          {{#with button_text}}
            <div class='btn btn-primary'>{{solid}}</div>
            <br />
            <br />
            <div
              class='btn btn-outline-primary'
            >{{outline}}</div>
          {{/with}}
        {{/with}}
          </div>
    <div class='card'>
      <div class='card-body'>
        {{#with second}}
          <h2 class="text">{{title}}</h2>
          <p class="text-secondary">{{text}}</p>
          {{#with button_text}}
          <div class="btn btn-secondary">{{solid}}</div>
          <br>
          <br>
          <div class="btn btn-outline-secondary">{{outline}}</div>
          {{/with}}
        {{/with}}
      </div>
    </div>
    <br >
    <br >
  
    <div class="card">
      <div class="card-body">
    {{#with subblock}}
     <h3 class="text">{{title}}</h3>
     <p class="text-muted">{{text}}</p>
     {{#with button_text}}
     <div class="btn btn-dark">{{solid}}</div>
     <br>
     <br>
     <div class="btn btn-outline-dark">{{outline}}</div>
     {{/with}}
     {{/with}}
      </div>
    </div>
    {{/with}}
    </div>
    </div>
    <br>
    <br>
    <div class="card">
      <div class="card-body">
           {{#with nested_display}}
           <div class="display-1">{{title}}</div>
               <div class="card">            
             <div class="card-body">
               {{#with children_display}}
                <div class="display-4">{{title}}</div>
                 <p class="text-muted">{{text}}</p>
                <div class="btn btn-outline-warning">{{button.text}}</div>
                {{/with}}
             </div>
             </div>
                <p class="h6">{{header_text}}</p>
             <div class="btn btn-info">{{button.text}}</div>
               </div>
          {{/with}}
    </div>
    <br >
    <br >
    <div class="card">
      <div class="card-body">
        {{#with paragraph}}
        <br>
        <p class="text-capitalize">{{title}}</p>
        <br>
        <p class="text-muted">{{text}}</p>
        <a href="https://google.com" class="link">{{button.text}}</a>
        <br >
        <br >
          <div class="card">
            <div class="card-body"></div>
              <ul>
              {{#each list_name}}
             <li><a href="https://github.com/" class="text">{{text}}</a></li>
              {{/each}}
            </ul>
           {{/with}}
          </div>
        </div>
      </div>
</section>

{{!-- 
    Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
    Адже наш layout/default.hbs має вже структуру HTML
--}}