{{! 
Це код container файлу для summary сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
}}
<div>
<h1>{{> title data="WEB"}}</h1>
{{#with web}}
{{#each languages}}
<p><b>Name languages: </b>{{name}} <b>version:</b>{{version}} {{description}}</p>
<div>
  
  <h3><b>Elements:</b></h3>
  {{#each elements}}
    {{#if elements}}
    <ul>
      <li><b>Name elements:</b>{{name}} {{description}} {{attributes}}</li>
      <b>attributes</b>
      {{/if}}
     
    <div>
      {{#each attributes}}
      {{#if attributes}}
      <li>Name attributes{{name}}</li>
      <li>{{description}}</li>
      {{/if}}
      {{/each}}
    </div>
  </ul>
    {{/each}}
    
</div>
<div>
 
  <h3><b>Properties:</b></h3>
  {{#each properties}}
 
  {{name}} 
   <p>{{description}}</p>
   
  {{#each values}}
    <p> <b>Value:</b>{{value}} {{description}}</p>
    {{/each}}
    {{/each}}
    
</div>
<div>
  <ul>
    {{#if functions}}
    <b>Functions</b>
    {{#each functions}}
    <li>Name:{{name}}<b>Description:</b>{{description}}</li>
    {{#each parameters}}
    <li>{{name}}</li>
    <li>{{type}}</li>
    <li>{{description}}</li>
    {{/each}}
    {{/each}}
    {{/if}}
  </ul>
</div>
{{/each}}
{{/with}}
</div>

{{!-- 
    Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
    Адже наш layout/default.hbs має вже структуру HTML
--}}